<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>413064625906-hsnjmedokg88g6jgogb1c9vihttq8jm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413064625906-hsnjmedokg88g6jgogb1c9vihttq8jm5</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ14cP6h6h8OQsxmMlo-q5_O3hJbuVe1c</string>
	<key>GCM_SENDER_ID</key>
	<string>413064625906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Syunya-Toyofuku.YugiohShops</string>
	<key>PROJECT_ID</key>
	<string>yugiohshops-9e90b</string>
	<key>STORAGE_BUCKET</key>
	<string>yugiohshops-9e90b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:413064625906:ios:c8c89d1b3ea600ab</string>
	<key>DATABASE_URL</key>
	<string>https://yugiohshops-9e90b.firebaseio.com</string>
</dict>
</plist>